.catalog {
  background-color: #ffffff;
  width: @mobile-width;
  margin: 0 auto;
}

.catalog-list {
  width: @mobile-width;
  list-style: none;
  .reset-margin-padding();
}

.catalog-list__item {
  padding: 1px 20px 0;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  box-sizing: border-box;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width;
    padding: 0 @tablet-side-paddings;
    // margin: 0 auto;
    box-sizing: border-box;
  }

  .catalog-list {
    width: @tablet-width - 2 * @tablet-side-paddings;
    border: none;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    padding: 0;
    border: none;
    flex-shrink: 0;
    width: 324px;
    background-color: #f2f2f2;
    margin-right: 60px;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--more {
      background-color: #ffffff;
      border: 1px solid #f2f2f2;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: @desktop-width;
    padding: 0 @desktop-side-paddings;
  }

  .catalog-list {
    width: @desktop-width - 2 * @desktop-side-paddings;
  }

  .catalog-list__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
