.main-nav {
  width: @mobile-width;
  margin: 0 auto;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 440px;
    margin: 0;
    // flex-direction: row;
    // justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 480px;
    // background-color: #68b738;
  }
}
