.page-footer {
  background-color: #f2f2f2;
  width: 100%;
  .reset-margin-padding();
  position: relative;
}

.page-footer__contacts-wrapper-index {
  background-color: #ffffff;
}

.page-footer__contacts-wrapper-nonindex {
  background-color: #f2f2f2;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  width: @mobile-width;
  box-sizing: border-box;
  padding: 26px 23px 26px 20px;
  margin: 0 auto;
}

.page-footer__contacts-tagline {
  .set-font(@font-regular, 16px, 20px, 400);
  text-transform: uppercase;
  margin: 0;
  width: 125px;
  display: flex;
  flex-direction: column;
}

.page-footer__contacts-text {
  .set-font(@font-arial, 14px, 20px, 400);
  margin: 0;
  width: 136px;
}

.page-footer__map-wrapper {
  position: relative;
  min-height: 363px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 53px;
    margin-left: -31px;
    margin-top: -43px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
  }
}

.page-footer__map-iframe {
  z-index: 10;
  border: 0;
  position: relative;
  width: 100%;
  height: 363px;
}

.page-footer__map-img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -@mobile-width/2;
  padding: 0;
  height: 363px;
}

.page-footer__logo-wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-footer__logo-image {
  padding: 34px 77px 31px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-footer__social {
  margin: 0 auto;
}

.page-footer__copyright-wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 11px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts {
    width: @tablet-width;
    padding: 63px 72px 55px 71px;
  }

  .page-footer__contacts-tagline {
    .set-font(@font-regular, 20px, 25px, 400);
    width: 155px;
    padding-bottom: 4px;
  }

  .page-footer__contacts-text {
    .set-font(@font-arial, 16px, 20px, 400);
    width: 155px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-footer__map-wrapper {
    min-height: 400px;
    .reset-margin-padding();

    &::before {
      width: 124px;
      height: 106px;
      margin-left: -62px;
      margin-top: -53px;
    }
  }

  .page-footer__map-iframe {
    height: 400px;
  }

  .page-footer__map-img {
    height: 400px;
    width: @tablet-width;
    margin-left: -@tablet-width/2;
  }

  .page-footer__menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: @tablet-width;
    box-sizing: border-box;
    padding: 42px @tablet-side-paddings;
    margin: 0 auto;
  }

  .page-footer__logo-wrapper {
    width: 128px;
    margin: 0;
    padding: 0;
  }

  .page-footer__logo-image {
    border: none;
    padding: 0;
    margin: 0 auto;
    display: block;
  }

  .page-footer__social-wrapper {
    width: 125px;
    margin: 0;
    padding: 0 0 0 9px;
  }

  .page-footer__copyright-wrapper {
    width: 162px;
    .reset-margin-padding();
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    width: 570px;
    position: absolute;
    z-index: 20;
    content: "";
    background-color: #ffffff;
    top: 95px;
    left: 50%;
    margin-left: -610px;
    padding: 64px 90px 55px 76px;
  }

  .page-footer__contacts-text {
    text-align: left;
  }

  .page-footer__menu-wrapper {
    width: @desktop-width;
    padding: 47px @desktop-side-paddings;
  }

  .page-footer__map-img {
    width: 1440px;
    margin-left: -720px;
  }

  .page-footer__map-wrapper {
    line-height: 0;

    &::before {
      margin-left: 278px;
    }
  }
}
