.program {
  box-sizing: border-box;
  width: @mobile-width;
  margin: 0 auto;
  padding: 30px 0 22px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -20;
    // width: @mobile-width;
    width: 100%;
    height: 271px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #65a93c;
    top: 0;
    left: 0;
  }
}

.program__caption {
  .reset-margin-padding();
  .set-font(@font-regular, 36px, 36px, 400);
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.program__tagline {
  .reset-margin-padding();
  .set-font(@font-regular, 14px, 14px, 400);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.program__img {
  .reset-margin-padding();
  margin-bottom: 3px;
}

.program__choose {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .program {
    width: @tablet-width;
    padding: 30px @tablet-side-paddings + 200 0 @tablet-side-paddings + 90px;
    padding-bottom: 530px;

    &::before {
      display: none;
    }
  }

  .program__caption {
    .set-font(@font-regular, 60px, 60px, 400);
    color: #111111;
    margin-bottom: 33px;
    text-align: left;
  }

  .program__tagline {
    .set-font(@font-regular, 20px, 20px, 400);
    color: #111111;
    margin-bottom: 48px;
    text-align: left;
  }

  .program__choose {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    width: 245px;
  }

  .program__img {
    position: absolute;
    content: "";
    width: 709px;
    height: 609px;
    z-index: -10;
    left: 40px;
    top: 225px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: @desktop-width;
    padding: 30px @tablet-side-paddings + 650 0 @tablet-side-paddings + 90px;
    padding-bottom: 270px;

    &::before {
      display: block;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
      background-size: cover;
      top: -168px;
      left: auto;
      right: -70px;
    }
  }

  .program__tagline {
    margin-bottom: 53px;
  }

  .program__img {
    width: 552px;
    height: 499px;
    left: auto;
    top: -26px;
    right: 258px;
  }
}
