.site-list {
  list-style: none;
  .reset-margin-padding();
  border-top: 1px solid @border-color;
}

.site-list__item {
  text-align: center;
  padding: 21px 0 17px 0;
  border-bottom: 1px solid @border-color;
}

.site-list__item-link {
  .set-font(@font-medium, 20px, 20px, 500);
  color: @caption-color;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    border: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding-top: 20px;
  }

  .site-list__item {
    border: none;
    margin-right: 35px;
    padding: 0 0 10px 0;
  }

  .site-list__item:nth-child(3n) {
    margin-right: 0;
  }

  .site-list__item-link {
    .set-font(@font-medium, 17px, 25px, 400);
    color: #111111;
  }

  .site-list__item--active .site-list__item-link {
    padding-bottom: 7px;
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 480px;
    padding: 99px 0 0 131px;
  }

  .site-list__item-link {
    .set-font(@font-regular, 20px, 25px, 400);

    .site-list--index & {
      color: #ffffff;
    }
  }

  .site-list--index .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
